<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
<link href="{{=URL('static','css/myapp.css')}}" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" href="{{=URL('static', 'font-awesome-4.6.3/css/font-awesome.min.css')}}">

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
  // Define your URLs here.
  var new_session_url = "{{=URL('api', 'new_session')}}";
  var get_session_url = "{{=URL('api', 'get_session')}}";
</script>
{{include "web2py_ajax.html"}}
{{end}}
<div class="main_content">
  <div id="vue-div" class="display:none">
    <!-- Your code goes here. -->
    <div v-if="!is_host && !is_guest" class="abs_center">
      <h2>Who are you?</h2>
      <button type="button" class="btn btn-dark" v-on:click="host_view">Host</button><br><br>
      <button type="button" class="btn btn-secondary" v-on:click="guest_view">Guest</button><br>
    </div>

    <!-- HOST VIEW -->
    <div v-if="is_host && !session_created">
        <h2></h2>
        <input class="form-control" type="text" name='username' value="Kunal" placeholder="username"/>
        <input class="form-control" type="text" name='passphrase' value="thisisapass" placeholder="passphrase"/>
        <input class="form-control" type="text" name='playlist_url' value="https://www.youtube.com/watch?v=q6EoRBvdVPQ&list=PLOy0j9AvlVZPto6IkjKfpu0Scx--7PGTC" placeholder="playlist url"/>
        <button type="button" class="btn btn-def btn-block" v-on:click="new_session">Login</button>
    </div>

    <!-- GUEST VIEW -->
    <div v-if="is_guest && !session_gotten">
        <h2></h2>
        <input class="form-control" type="text" name='username' value="userA" placeholder="username"/>
        <input class="form-control" type="text" name='passphrase' value="testabc" placeholder="testabc"/>
        <button type="button" class="btn btn-def btn-block" v-on:click="get_session">Login</button>
    </div>

    <!-- SESSION CREATED, HOST PLAYER VIEW -->
    <div v-if="is_host && session_created">
      <a href="http://127.0.0.1:8000/TubeVote/default/index">Start over</a>
      <h2>Hello, ${host_name}</h2>

      <br>
      <div id="player"></div>
      <br><br>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Votes</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="video in videos">
            <td>${video.title}</td>
            <td>${video.description}</td>
            <td>
              <i class="fa fa-caret-up fa-2x" v-on:click="upvote(video)"></i>
              <i class="fa fa-caret-down fa-2x" v-on:click="downvote(video)"></i>
              <div style="text-align:center;">${video.votes}</div>
            </td>
          </tr>
        </tbody>
      </table>

    </div>

    <!-- SESSION GOTTEN, GUEST PLAYER VIEW -->
    <div v-if="is_guest && session_gotten">
      <h2>Hello, ${guest_name}</h2>
      <h4>Welcome to ${session.host_name}'s streaming session</h4>
    </div>

  </div>
</div>
<script src="{{=URL('static', 'js/default_index.js')}}"></script>