.colorful {
  color: $clrHilight;
}

div.main_content {
  padding: 10px;
}

table#user_selector {
  border: 1px solid gray;
  tbody tr {
    border-bottom: 1px solid gray;
  }
}

button:disabled {
  background-color: lightgray;
  &:hover {
    box-shadow: none;
  }
}
